@font-face {
    font-family: pokemonFontSolid;
    src: url('~@/../src/assets/fonts/PokemonSolid.ttf');
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-family: pokemonFontSolid, serif;
    color: #ffcc01;
    -webkit-text-stroke: 1px #375daa;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    justify-content: center;
}

.card {
    background-color: lightgrey;
    width: 175px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    border: solid;
    margin: 10px;
}

.card h3 {
    text-align: center;
    color: darkslategrey;
}

.card img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-more {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}




